@use 'sass:map';

@use '@css-styles/common' as mixins;

@function defineTheme($fontSize: 14px, $theme: ())
{
    $defaultTheme:
    (
        select:
        (
            normalState:
            (
                borderColor: unset,
                borderStyle: solid,
                borderWidth: var(--size-2px-fixed),
                background: unset,
                foreground: unset,
                boxShadow: unset,
                padding: var(--size-1px) var(--size-2px),
                borderRadius: var(--size-4px-fixed),
                fontFamily: inherit,
                fontSize: inherit,
                letterSpacing: normal,
                gap: var(--size-xs),
                focus:
                (
                    borderColor: unset,
                    outlineColor: unset,
                    outlineWidth: var(--size-1px-fixed),
                ),
                tag:
                (
                    background: unset,
                    foreground: unset,
                    gap: var(--size-xs),
                    padding: var(--size-none) var(--size-xs),
                    borderRadius: var(--size-4px),
                    fontSize: .9em,
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                ),
            ),
            popup:
            (
                container:
                (
                    background: unset,
                    foreground: unset,
                    padding: mixins.getSize($fontSize, 4),
                    borderRadius: mixins.getSize($fontSize, 4),
                    borderColor: unset,
                    borderWidth: var(--size-1px-fixed),
                    borderStyle: solid,
                    boxShadow: unset,
                ),
                option:
                (
                    searchHighlight:
                    (
                        textDecoration: underline,
                        textShadow: 0 0 var(--size-2px) hsl(from currentColor h s 45%),
                    ),
                    selected:
                    (
                        background: hsl(from var(--select-popup-container-background) h s 82%),
                        backgroundImage: none,
                    ),
                    active:
                    (
                        background: hsl(from var(--select-popup-container-background) h s 90%),
                        backgroundImage: none,
                    ),
                    inGroup:
                    (
                        margin: 0 0 0 var(--size-sm, .5em),
                    ),
                    padding: mixins.getSize($fontSize, 2) mixins.getSize($fontSize, 4),
                    borderRadius: mixins.getSize($fontSize, 2),
                ),
                optionGroup:
                (
                    fontStyle: italic,
                    letterSpacing: 1px,
                    fontWeight: 500,
                ),
            ),
            liveSearch:
            (
                placeholder:
                (
                    foreground: unset,
                    opacity: 1,
                    letterSpacing: normal,
                ),
            ),
        ),
    );

    $theme: map.deep-merge($defaultTheme, $theme);

    @return $theme;
}