@use 'sass:map';

@use '@css-styles/common' as mixins;


@function defineTheme($fontSize: 14px, $colors)
{
    $defaultTheme:
    (
        select:
        (
            popup:
            (
                container:
                (
                    padding: mixins.getSize($fontSize, 4),
                    borderRadius: mixins.getSize($fontSize, 4),
                ),
                option:
                (
                    selected:
                    (
                        background: hsl(from var(--select-popup-container-background) h s 90%),
                    ),
                    active:
                    (
                        background: hsl(from var(--select-popup-container-background) h s 86%),
                    ),
                    hover:
                    (
                        background: hsl(from var(--select-popup-container-background) h s 82%),
                    ),
                    inGroup:
                    (
                        margin: 0 0 0 var(--size-sm, .5em),
                    ),
                    padding: mixins.getSize($fontSize, 2) mixins.getSize($fontSize, 4),
                    borderRadius: mixins.getSize($fontSize, 2),
                ),
                optionGroup:
                (
                    fontStyle: italic,
                    letterSpacing: 1px,
                    fontWeight: 500,
                ),
            ),
        ),
    );

    $theme: map.deep-merge($defaultTheme, $colors);

    @return $theme;
}