@use 'sass:map';
@use '../core/defaultTheme' as defaultTheme;
@use '../core/mixins';

@function defineTheme($fontSize: 14px, $colors: (), $customization: ())
{
    $_darkDefaultTheme:
    (
        select:
        (
            popup:
            (
                container:
                (
                    background: #3A3A3A,
                ),
            ),
        ),
    );

    $colors: map.deep-merge($_darkDefaultTheme, $colors);
    $colors: map.deep-merge($colors, $customization);

    @return defaultTheme.defineTheme($fontSize, $colors);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}