@use 'sass:map';
@use '../core/defaultTheme' as defaultTheme;
@use '../core/mixins';

$_blue: #0066ff;
$_white: #f0f0f0;

@function defineTheme($fontSize: 14px, $theme: (), $customization: ())
{
    $_darkDefaultTheme:
    (
        select:
        (
            normalState:
            (
                borderColor: #bbb,
                background: #4a4a4a,
                foreground: $_white,
                focus:
                (
                    borderColor: $_blue,
                    outlineColor: $_blue,
                ),
                tag:
                (
                    background: #666,
                    foreground: $_white,
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                ),
            ),
            popup:
            (
                container:
                (
                    background: #3A3A3A,
                    foreground: $_white,
                    borderColor: #4e4e4e,
                ),
            ),
            liveSearch:
            (
                placeholder:
                (
                    foreground: $_white,
                ),
            ),
        ),
    );

    $theme: map.deep-merge($_darkDefaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return defaultTheme.defineTheme($fontSize, $theme);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}