@use 'sass:map';
@use '../core/defaultTheme' as defaultTheme;
@use '../core/mixins';

$_blue: #0066ff;

@function defineTheme($fontSize: 14px, $theme: (), $customization: ())
{
    $_darkDefaultTheme:
    (
        select:
        (
            popup:
            (
                normalState:
                (
                    borderColor: #666,
                    background: #eee,
                    foreground: #000,
                    focus:
                    (
                        borderColor: $_blue,
                        outlineColor: $_blue,
                    ),
                    tag:
                    (
                        background: #ccc,
                        foreground: #000,
                    ),
                ),
                container:
                (
                    background: #3A3A3A,
                ),
            ),
        ),
    );

    $theme: map.deep-merge($_darkDefaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return defaultTheme.defineTheme($fontSize, $theme);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}