@use 'sass:map';
@use '../core/defaultTheme' as defaultTheme;
@use '../core/mixins';

$_blue: #0066ff;
$_black: #000;

@function defineTheme($fontSize: 14px, $theme: (), $customization: ())
{
    $_lightDefaultTheme:
    (
        select:
        (
            normalState:
            (
                borderColor: #666,
                background: #eee,
                foreground: $_black,
                focus:
                (
                    borderColor: $_blue,
                    outlineColor: $_blue,
                ),
                tag:
                (
                    background: #ccc,
                    foreground: $_black,
                ),
            ),
            popup:
            (
                container:
                (
                    background: #F0F0F0,
                    foreground: $_black,
                ),
            ),
            liveSearch:
            (
                placeholder: $_black,
            ),
        ),
    );

    $theme: map.deep-merge($_lightDefaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return defaultTheme.defineTheme($fontSize, $theme);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}