@mixin css
{
    ng-select,
    .select-component
    {
        .live-search-component
        {
            display: contents;
        }

        .absolute-input
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .live-search-input
        {
            background-color: transparent;
            border: none;
            outline: none;

            *::placeholder
            {
                color: var(--select-liveSearch-placeholder);
            }
        }
    }
}