@mixin css
{
    ng-select
    {
        .live-search-component
        {
            display: contents;
        }

        .absolute-input
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}