@mixin css
{
    ng-select,
    .select-component
    {
        .normal-state-component
        {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            border-width: var(--select-normalState-borderWidth);
            border-style: var(--select-normalState-borderStyle);
            border-color: var(--select-normalState-borderColor);
            border-radius: var(--select-normalState-borderRadius);
            box-shadow: var(--select-normalState-boxShadow);
            background: var(--select-normalState-background);
            color: var(--select-normalState-foreground);
            padding: var(--select-normalState-padding);
            font-family: var(--select-normalState-fontFamily);
            font-size: var(--select-normalState-fontSize);
            letter-spacing: var(--select-normalState-letterSpacing);

            &.disabled
            {
                background-color: var(--select-normalState-disabled-background);
                color: var(--select-normalState-disabled-foreground);
                border-color: var(--select-normalState-disabled-borderColor);
                cursor: not-allowed;

                button
                {
                    cursor: not-allowed;
                }
            }

            &:focus-within
            {
                border-color: var(--select-normalState-focus-borderColor);
                outline-color: var(--select-normalState-focus-outlineColor);
                outline-width: var(--select-normalState-focus-outlineWidth);
                outline-style: solid;
            }
    
            .select-normal-state-gap
            {
                gap: var(--select-normalState-gap);
            }

            .normal-state-value,
            .normal-state-element
            {
                overflow: hidden;
                white-space: nowrap;
            }

            .normal-state-element
            {
                display: flex;
                flex-direction: row;
                flex: 1;
                min-width: 0;

                &:focus-visible
                {
                    outline: none;
                }
            }

            .normal-state-value
            {
                align-items: center;

                &:empty
                {
                    &::after
                    {
                        content: "\00a0";
                    }
                }
            }

            .select-tag
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                white-space: nowrap;
                gap: var(--select-normalState-tag-gap);
                padding: var(--select-normalState-tag-padding);
                border-radius: var(--select-normalState-tag-borderRadius);
                font-size: var(--select-normalState-tag-fontSize);
                background-color: var(--select-normalState-tag-background);
                color: var(--select-normalState-tag-foreground);
            }

            button
            {
                background-color: transparent;
                padding: 0;
                cursor: pointer;
                border: none;
                color: inherit;
                font-size: inherit;
                font-family: inherit;
            }

            .normal-state-cancel
            {
                &:hover
                {
                    color: hsl(from var(--select-normalState-foreground) h s 50%);
                }
            }
        }
    }
}