@mixin css
{
    ng-select
    {
        .normal-state-component
        {
            display: flex;
            flex-direction: row;
            border-width: 2px;
            border-style: solid;
            border-color: #666;
            background-color: #eee;
            padding: 1px 2px;

            &:focus-within
            {
                border-color: #00F;
                outline-color: #00F;
                outline-width: 1px;
                outline-style: solid;
            }
    
            .select-normal-state
            {
                cursor: pointer;
            }

            .select-normal-state-gap
            {
                gap: var(--size-xs);
            }

            button
            {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}