@mixin css
{
    ng-select
    {
        .popup-component
        {
            display: block;

            .in-group
            {
                padding: var(--select-popup-option-inGroup-padding);
            }

            .option-group
            {
                font-style: var(--select-popup-optionGroup-fontStyle);
                letter-spacing: var(--select-popup-optionGroup-letterSpacing);
                font-weight: var(--select-popup-optionGroup-fontWeight);
            }
        }
    }
}