<div class="page-content">
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    
    <div class="form-group">
        <div class="control-label">test</div>
        <ng-select class="form-control" absolute withDirectAccess [value]="8456" (valueChange)="log($event)">
            <ng-option text="ľaľa" [value]="8123" />
            <ng-option text="text4" [value]="8456" />

            <ng-option text="text333" [value]="12789" />

            <ng-option text="text" [value]="123" />
            <ng-option text="text2" [value]="456" />

            <ng-option text="text222" [value]="332789" />
        </ng-select>
    </div>
    
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
    <div>xxxxxx</div>
</div>
